html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  height: 58px;
  background-color: #ffab00; }

.logo {
  font-size: 21px;
  color: #064159;
  font-family: "Lato", sans-serif;
  padding: 20px 0px 20px 25px;
  text-align: left;
  display: inline-block; }

.logo strong {
  font-weight: 900; }

.navBar {
  float: right;
  display: inline-block;
  height: 100%; }

.navList {
  display: none;
  background-color: header_color; }

.navBut {
  color: #064159;
  text-decoration: none;
  background-color: #ffab00;
  border: none;
  font-size: 18px;
  padding: 20px 15px 20px;
  height: 100%; }

.navLink {
  padding: 10px;
  text-decoration: none;
  color: #064159;
  background-color: #ffab00;
  font-family: "Lato", sans-serif;
  text-align: center; }

.navBar:hover .navList {
  display: block; }

.hero {
  background-image: url("Home Page.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.hero h1 {
  font-family: "Lato", sans-serif;
  color: #efe9d8;
  font-size: 36px;
  text-align: left;
  font-weight: bold;
  padding: 108px 50px 108px 30px; }

.contentContainer {
  background-color: #ffc400; }

.contentBorder {
  padding: 50px 30px;
  background-color: transparent; }

.boldDroid {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  color: content_header;
  line-height: 1.6; }

.content {
  font-family: "Droid Serif", serif;
  color: #021d2c;
  font-size: 15px;
  line-height: 1.56;
  padding-top: 30px; }

.redline {
  background-color: #ee3e28;
  height: 1px;
  width: 100%;
  margin: 0 auto; }

.eventHeader {
  color: #eb503c;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 30px 0px; }

.content:last-of-type {
  padding-bottom: 30px; }

aside .boldDroid, aside .content {
  padding-top: 20px; }

.link {
  color: #4e1c07;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  padding: 20px 0px;
  display: inline-block; }

.eventLink {
  text-decoration: none;
  color: #4c1a14;
  font-size: 21px;
  font-weight: bold;
  font-family: "Droid Serif", serif;
  line-height: 1.7; }

.whitebg {
  background-color: white; }

.tanbg {
  background-color: #edecde; }

.link:last-of-type {
  padding-left: 50px; }

.secHead {
  font-size: 21px;
  color: #4e1c07;
  padding: 50px 0px 30px; }

.value h3 {
  font-size: 18px;
  font-style: italic;
  color: #021d2c;
  font-family: "Droid Serif", serif; }

.value p {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Droid Serif", serif;
  color: #021d2c; }

.purpose h2 {
  font-size: 21px;
  color: #4e1c07; }

footer {
  background-color: white;
  height: 100px; }

footer p:nth-of-type(1) {
  padding-top: 30px; }

footer p {
  color: #6f8998;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 5px;
  font-size: 16px; }

.container {
  width: 320px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
