//Colors
$header_color: #ffab00;
$body_color: #ffc400;

$header_text: #064159;
$hero_text: #efe9d8;

$content_header: #4e1c07;
$content: #021d2c;

$red_line: #ee3e28;

$selection: #72261d;

$section_header: #eb503c;
$links: #6f8998;
$big_links: #4c1a14;

$section_color: #edecde;

$startup_color: #a13729;

$footer_text: #6f8998;

//Fonts
$lato: 'Lato', sans-serif;
$droid: 'Droid Serif', serif;
