//SCSS File to format and style the header_color

@import "_color_n_font";

//Mobile styles

.header{
  height: 58px;
  background-color: $header_color;
}

.logo{
  font-size: 21px;
  color: $header_text;
  font-family: $lato;
  padding: 20px 0px 20px 25px;
  text-align: left;
  display: inline-block;
  text-decoration: none;
}
.logo strong{
  font-weight: 900;
}

//Browser header
@media only screen and (min-width: 760px){
  .header{
    height: 77px;
  }
  .logo{
    font-size: 24px;
    padding: 26px;
  }

  .navBar{
    float: right;
    display: inline-block !important;
    height: 100%;
    width: auto;
  }
  .navLink{
    text-decoration: none;
    color: $selection;
    background-color: $header_color;
    font-family: $lato;
    display: inline-block;
    margin-right: 20px;
  }
  .navList{
    display: inline-block;
    float: right;
  }

  .navList li{
    display: inline-block;
    height: 98%;
  }

  .navLink{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 1.6;
    position: relative;
    top: -80px;
    padding: 26px 18px;
  }

  .active{
    background-color: $section_header;

    a{
      color: $hero_text;
      background-color: $section_header;
    }
  }

}
