@import "color_n_font";


/*
.contentContainer{
  background-color: $body_color;
}

.contentBorder{
  padding: 50px 30px;
  background-color: transparent;
}

.boldDroid{
  font-family: $droid;
  font-size: 18px;
  color: content_header;
  line-height: 1.6;
}

.content{
  font-family: $droid;
  color: $content;
  font-size: 15px;
  line-height: 1.56;
  padding-top: 30px;
}

.redline{
  background-color: $red_line;
  height: 1px;
  width: 100%;
  margin: 0 auto;
}

.eventHeader{
  color: $section_header;
  font-family: $lato;
  font-weight: bold;
  font-size: 16px;
  padding: 30px 0px;
}



.content:last-of-type{
  padding-bottom: 30px;
}

aside .boldDroid, aside .content{
  padding-top: 20px;
}

.link{
  color: $content_header;
  font-family: $lato;
  text-decoration: none;
  padding: 20px 0px;
  display: inline-block;
}

.eventLink{
  text-decoration: none;
  color: $big_links;
  font-size: 21px;
  font-weight: bold;
  font-family: $droid;
  line-height: 1.7;
}

.whitebg{
  background-color: white;
}

.tanbg{
  background-color: $section_color;
}

.link:last-of-type{
  padding-left: 50px;
}

.secHead{
  font-size: 21px;
  color: $content_header;
  padding: 50px 0px 30px
}

.value h3{
  font-size: 18px;
  font-style: italic;
  color: $content;
  font-family: $droid;
}

.value p{
  font-size: 16px;
  line-height: 1.5;
  font-family: $droid;
  color: $content;
}

.purpose h2{
  font-size: 21px;
  color: $content_header;
}

*/

@mixin text($font, $color, $size, $height){
  font-family: $font;
  color: $color;
  font-size: $size;
  line-height: $height;
}

.mobilePadding{
  padding: 0px 30px;
}

.contentContainer{
  background-color: $body_color;
}

.overviewHeader{
  @include text($droid, $content_header, 18px, 1.6);
  font-weight: bold;
  @extend .mobilePadding;
  padding-top: 50px;
  padding-bottom: 40px;
}

.overviewContent{
  @include text($droid, $content, 15px, 1.6);
  @extend .mobilePadding;
  padding-bottom: 40px;
}

.redline{
  background-color: $red_line;
  height: 1px;
  width: 93%;
  margin: 0 auto;
}

.event{
  padding-bottom: 55px;
}

.eventHeader{
  @extend .mobilePadding;
  @include text($lato, $section_header, 16px, 1.5);
  padding-top: 30px;
  padding-bottom: 15px;
}

.eventName{
  @extend .mobilePadding;
  @include text($droid, $big_links, 21px, 1.5);
  font-weight: bold;
  padding-bottom: 10px;
  text-decoration: none;
}

.date{
  @extend .mobilePadding;
  @include text($lato, $content, 18px, 1.7);
  font-weight: bold;
  padding-bottom: 10px;
}

.address{
  @extend .mobilePadding;
  @include text($lato, $content, 16px, 1.6);
  padding-bottom: 10px;
}

.eventLink{
  display: inline-block;
  @extend .mobilePadding;
  @include text($lato, $content_header, 16px, 2);
  font-weight: bold;
  text-decoration: none;
}

.eventContainer{
  padding-top: 50px;
}

.involved{
  background-color: $section_header;
  padding-top: 50px;
  padding-bottom: 50px;
}

.meetup{
  background-color: $startup_color;
  padding-top: 50px;
  padding-bottom: 50px;
}

.calName{
  @extend .mobilePadding;
  @include text($droid, $hero_text, 21px, 1.5);
  font-weight: bold;
  padding-bottom: 10px;
}

.calContent{
  @extend .mobilePadding;
  @include text($lato, $hero_text, 18px, 1.5);
  padding-bottom: 10px;
}

.calLink{
  @extend .mobilePadding;
  @include text($lato, $hero_text, 16px, 1.7);
  text-decoration: none;
}

.commSection{
  padding-top: 50px;
  padding-bottom: 50px;
}

.commSection:nth-of-type(even){
  background-color: $section_color;
}

.commSection ol{
  list-style-type: decimal;
  list-style-position: inside;
}

.valName{
  @include text($droid, $content, 18px, 1.3);
  font-weight: bold;
  font-style: italic;
  @extend .mobilePadding;
}

.button a{
  @include text($droid, $section_color, 18px, 3.5);
  text-decoration: none;
}

.button{
  background-color: $section_header;
  margin: 0 auto;
  width: 220px;
  height: 60px;
  text-align: center;
}

@media only screen and (min-width: 760px){
  .redline{
    display: none;
  }

  .contentContainer{
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 180px;
  }

  .overview{
    width: 68%;
    display: inline-block;
  }

  .event{
    width: 28%;
    display: inline-block;
    padding: 0px;
  }

  .homeEvent{
    border-left: 1px solid #ee3e28;
  }
}
