//SCSS File to format and style the header_color

@import "color_n_font";

//Mobile styles

.header{
  height: 58px;
  background-color: $header_color;
}

.logo{
  font-size: 21px;
  color: $header_text;
  font-family: $lato;
  padding: 20px 0px 20px 25px;
  text-align: left;
  display: inline-block;
}

.logo strong{
  font-weight: 900;
}

.navBar{
  float: right;
  display: inline-block;
  height: 100%;
  width: 30%;
}

.navList{
  display: none;
  background-color: header_color;
  width: 100%;
}

.navBut{
  color: $header_text;
  text-decoration: none;
  background-color: $header_color;
  border: none;
  font-size: 18px;
  padding: 20px 15px 20px;
  height: 100%;
  width: 100%;
  text-align: right;
}

.navLink{
  padding: 10px;
  text-decoration: none;
  color: $header_text;
  background-color: $header_color;
  font-family: $lato;
  display: block;
}

.navBar:hover .navList{
  display: block;
}

.navLink:hover{
  background-color: $startup_color;
}


@media only screen and (min-width: 760px){
  .navBut{
    display: none;
  }

  .navList{
    display: inline;
  }

  .navLink{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: $selection;
  }
}
