@import "color_n_font";

.hero{
  background-image: url('Home Page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  // min-height: 528px;
}

.hero h1{
  font-family: $lato;
  color: $hero_text;
  font-size: 36px;
  text-align: left;
  font-weight: bold;
  padding: 108px 50px 108px 30px;
}



@media only screen and (min-width: 760px){
  .hero h1{
    font-size: 56px;
    width: 680px;
    padding-left: 115px;
  }

  .hero{
    height: 500px;
  }

  .cal{
    height: 350px;
  }
}
