@import "_reset";
@import "_color_n_font";
@import "_header";
@import "_hero";
@import "_content";
@import "_footer";

.container{
  // min-width: 320px; //Mobile's minimum width
  // max-width: 1600px; //Browsers maximum width

  //Change is mobile should be fixed
  width: 320px;
  margin: 0 auto;
}

@media only screen and (min-width: 760px){
  .container{
    min-width: 760px;
    max-width: 1600px;
    width: 100%;
  }
}
